<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div id="header" th:replace="fragments/header"></div>
</head>

<body>

<form id="registerItemForm" action="/item/register" method="post" >
    <span>상품이름 : </span>
    <input type="text" name="itemName" placeholder="ItemName">
    <br>
    <span>경매 시작 가격 : </span>
    <input type="text" name="basePrice" placeholder="basePrice">
    <br>
    <span>경매 종료 가격 : </span>
    <input type="text" name="desiredPrice" placeholder="desiredPrice">
    <br>
    <span>최소 입찰 가격 : </span>
    <input type="text" name="minimumPrice" placeholder="minimumPrice">
    <br>
    <span>경매 시작 일시 : </span>
    <input type="datetime-local" id="currnetMonth" step="3600" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}:[0-9]{2}"
           name="startAuction" placeholder="startAuction" onload=setCurrentTime()>
    <span>한 시간 단위의 입력만 유효합니다</span>
    <br>
    <span>경매 종료 일시 : </span>
    <input type="datetime-local" step="3600" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}"
           name="endAuction" placeholder="endAuction">
    <span>한 시간 단위의 입력만 유효합니다</span>
    <br>
    <button type="submit" >상품 등록</button>
</form>
<script>
    function setCurrentTime() {
        document.getElementById('currnetMonth').value= new Date().toISOString().slice(0, 13);
    }
</script>
</body>
</html>

