<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<div>
    <span th:style="${'font-size:40px'}" th:text="${userId}"></span>
    <span>님 환영합니다.</span>
</div>
<br>

    <a href="/main" th:style="${'border: 1px solid black; float:right; margin-right:10px'}">뒤로가기</a>

<br>
<hr th:style="${'width:100%; height: 3px; background-color:blue;'}">
<br>
<h3 th:text="${userName}"></h3>
<h3 th:text="${createdAt}"></h3>
<h3 th:text="${userId}"></h3>
</body>
</html>