<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="ko-KR">

<head>
    <div id="header" th:replace="fragments/header"></div>
</head>

<body>
<br>
<br>
    <a href="/item/list" th:style="${'border: 3px solid red; float:left; margin-right:10px'}">상품 조회하기</a>
    <a href="/item/list/createdAt" th:style="${'border: 3px solid red; float:left; margin-right:10px'}">상품 등록 기준 조회하기</a>
    <a href="/item/list/status" th:style="${'border: 3px solid red; float:left; margin-right:10px'}">상품 상태 기준 조회하기</a>
    <a href="/item/mine" th:style="${'border: 3px solid red; float:left; margin-right:10px'}">내가 등록한 상품 조회하기</a>
    <a href="/item/list/participant" th:style="${'border: 3px solid red; float:left; margin-right:10px'}">내가 참여중인 경매 정보 조회하기</a>
    <a href="/item/register" th:style="${'border: 3px solid red; float:left; margin-right:10px'}">상품 등록하기</a>
</body>
</html>