<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h2>SignUp</h2>
<br>
<br>
<form id="signUpForm" action="/sign-up" method="post" >
    <span>ID : </span>
    <input type="text" name="userId" placeholder="UserId">
    <br>
    <span>Password : </span>
    <input type="text" name="password" placeholder="password">
    <br>
    <span>Name : </span>
    <input type="text" name="name" placeholder="name">
    <br>
    <button type="submit" >가입하기</button>
</form>
</body>
</html>